header {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.sec {
  background: gray;
  text-align: center;
  border: 9px solid #008067;
}

.blue {
  background: blue;
}
footer{
    text-align: center;
}

.popup {
  background: #00968894;
}
